Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /

# 0. Remove index.php
RewriteCond %{THE_REQUEST} \s/index\.php[\s?] [NC]
RewriteRule ^index\.php$ / [R=301,L]

# 1. Remove .php extension
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^(.+)\.php$ /$1 [R=301,L]

# 2. Internal rewrite (skip error pages)
RewriteCond %{REQUEST_URI} !^/errors/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

# Error Documents
ErrorDocument 400 /errors/400.php
ErrorDocument 403 /errors/403.php
ErrorDocument 404 /errors/404.php
ErrorDocument 500 /errors/500.php
ErrorDocument 503 /errors/503.php