:root {
  --primary-color: #14120b;
  --primary-text-color: #edecec;
  --primary-text-color-transparent: #edecec99;
  --white-button-color: #14120b;
  --white-button-bg-color: #edecec;
  --card-bg-color: #1b1913;
  --feature-section-link-text-color: #f54e00;
  --highlight-cards-color: #201e18;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: "CursorGothic","CursorGothic Fallback",system-ui,Helvetica Neue,Helvetica,Arial,sans-serif; */
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: "Plus Jakarta Sans", sans-serif;
}

.wrapped-content {
  width: 1300px;
  margin: auto;
}

.icon .cursor-logo {
  height: 30px;
  width: 96px;
}

/* navbar */

.navigation {
  width: 100vw;
  text-align: center;
  background-color: var(--primary-color);
}

#navbar {
  /* width: 100vw; */
  position: fixed;
  color: var(--primary-text-color);
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 52px;
  width: 100vw;
  /* margin: 0px 42.5px 0px 42.5px; */
  background-color: var(--primary-color);
}

/* navbar-options */

#navbar .icon,
#navbar .options,
#navbar .cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar .icon {
  margin-left: 110px;
}

/* nav-icon */
#navbar .nav-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 14px;
}

/* nav-mid-links */
#navbar .options {
  gap: 30px;
  display: flex;
  padding-left: 70px;
  flex: 1;
}
#navbar .nav-options .nav-btn {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
}

/* nav-right-btns */
#navbar .cta {
  gap: 10px;
  justify-self: end;
  margin-right: 120px;
}
#navbar .nav-options .contact {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  text-decoration: none;
}

#navbar .nav-options .sign-in {
  border: 1px solid #edecec33;
  background-color: #0000;
  border-radius: 24px;
  padding: 4px 10px;
}

/* navbar downlpad btn */
#navbar .nav-options .download {
  background-color: var(--white-button-bg-color);
  color: var(--white-button-color);
  border-radius: 24px;
  padding: 4px 10px;
}

/* hero section 1 */
.hero-section-1 {
  font-size: 24px;
  color: var(--primary-text-color);
  padding-top: 112px;
  margin-top: 50px;
}

.hero-section-1 .text {
  font-size: 24px;
  font-weight: 490;
  letter-spacing: 0px;
}

.hero-section-1 .cta {
  background-color: var(--white-button-bg-color);
  font-size: 16px;
  padding: 12px 22px;
  border: 1px solid var(--white-button-bg-color);
  border-radius: 30px;
  margin-top: 22px;
  margin-bottom: 56px;
}

.hero-section-1 .img {
  height: 680px;
  margin-bottom: 66px;
}

/* trusted-section */
.trusted-section {
  text-align: center;
  padding-bottom: 34px;
}

.trusted-section .line {
  color: var(--primary-text-color);
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 400;
}

.trusted-section .trustedContainer {
  display: flex;
  justify-content: space-between;
}

.trusted-section .card {
  height: 100px;
  width: 154px;
  background-color: var(--card-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.trusted-section .card .img {
  height: 40px;
}

/* feature-section-left-text-right-image */
.feature-section-left-text-right-image {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: var(--primary-text-color);
  text-decoration: none;
  background-color: var(--card-bg-color);
  padding: 18px;
  border-radius: 4px;
  margin-top: 90px;
  margin-bottom: 90px;
}

.feature-section-left-text-right-image .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  grid-column: 1 / 5;
  padding-right: 30px;
}

.feature-section-left-text-right-image .text .child-1,
.feature-section-left-text-right-image .text .child-2 {
  font-size: 22px;
}

.feature-section-left-text-right-image .text .child-1 h3 {
  font-weight: 400;
}

.feature-section-left-text-right-image .text .child-1 {
  color: var(--primary-text-color);
}

.feature-section-left-text-right-image .text .child-2 {
  color: var(--primary-text-color-transparent);
  margin-bottom: 16px;
}

.feature-section-left-text-right-image .text .child-3 p {
  color: var(--feature-section-link-text-color);
  font-size: 16px;
}

.feature-section-left-text-right-image .image {
  grid-column: -1 / -9;
}

.feature-section-left-text-right-image .image img {
  width: 840px;
  /* height: 650px; */
  border-radius: 4px;
}

/* feature-section-left-image-right-text */
.feature-section-left-image-right-text {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: var(--primary-text-color);
  text-decoration: none;
  background-color: var(--card-bg-color);
  padding: 18px;
  border-radius: 4px;
  margin-bottom: 90px;
}

.feature-section-left-image-right-text .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  grid-column: -1 / -5;
  padding-left: 30px;
}

.feature-section-left-image-right-text .text .child-1,
.feature-section-left-image-right-text .text .child-2 {
  font-size: 22px;
}

.feature-section-left-image-right-text .text .child-1 h3 {
  font-weight: 400;
}

.feature-section-left-image-right-text .text .child-1 {
  color: var(--primary-text-color);
}

.feature-section-left-image-right-text .text .child-2 {
  color: var(--primary-text-color-transparent);
  margin-bottom: 16px;
}

.feature-section-left-image-right-text .text .child-3 p {
  color: var(--feature-section-link-text-color);
  font-size: 16px;
}

.feature-section-left-image-right-text .image {
  grid-column: 1 / 9;
}

.feature-section-left-image-right-text .image img {
  width: 840px;
  /* height: 650px; */
  border-radius: 4px;
}

/* feature cards section */
.testimonials-card-section .title-of-section {
  text-align: center;
  font-size: 36px;
  padding: 68px 20px;
  color: var(--primary-text-color);
}

.testimonials-card-section .testimonials-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.testimonials-card-section .testimonials-card-container .testimonials-card {
  height: 278px;
  width: 426px;
  background-color: var(--card-bg-color);
  padding: 18px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials-card-section
  .testimonials-card-container
  .testimonials-card
  .quote
  p {
  color: var(--primary-text-color);
}

.testimonials-card-section
  .testimonials-card-container
  .testimonials-card
  .author {
  display: flex;
  gap: 12px;
  align-items: center;
}

.testimonials-card-section
  .testimonials-card-container
  .testimonials-card
  .author
  .author-image {
  height: 40px;
  width: 40px;
}

.testimonials-card-section
  .testimonials-card-container
  .testimonials-card
  .author
  img {
  height: 40px;
  width: 40px;
  border-radius: 4px;
}

.testimonials-card-section
  .testimonials-card-container
  .testimonials-card
  .author
  .author-info
  .name {
  color: var(--primary-text-color);
  font-size: 14px;
}

.testimonials-card-section
  .testimonials-card-container
  .testimonials-card
  .author
  .author-info
  .role {
  color: var(--primary-text-color-transparent);
  font-size: 14px;
}

/* use case section */
.usecase-section {
  margin-top: 178px;
  margin-bottom: 178px;
}

.usecase-section .section-title {
  font-size: 26px;
  font-weight: 400;
  color: var(--primary-text-color);
  letter-spacing: -0.32px;
  margin-bottom: 22px;
}

.usecase-section .usecases {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
}

.usecase-section .usecases .usecase {
  text-decoration: none;
  height: 554px;
  flex: 1;
  background-color: var(--card-bg-color);
  border-radius: 4px;
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  padding: 16px 18px 18px 18px;
}

.usecase .usecase-title .title {
  font-size: 16px;
  color: var(--primary-text-color);
  font-weight: 400;
  margin-bottom: 10px;
}

.usecase .usecase-link .link {
  font-size: 16px;
  color: var(--feature-section-link-text-color);
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}

.usecase .usecase-info .info {
  font-size: 16px;
  color: var(--primary-text-color-transparent);
  font-weight: 400;
  margin-bottom: 16px;
}

.usecase .usecase-image img {
  height: 390px;
  width: 390px;
  border-radius: 4px;
}

/* change log */
.change-log-section {
  margin-bottom: 138px;
}
.change-log-section .title {
  color: var(--primary-text-color);
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 22px;
}

.change-log-section .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.change-log-section .cards .card {
  height: 120px;
  background-color: var(--card-bg-color);
  padding: 16px 18px 20px 18px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  text-decoration: none;
}

.change-log-section .cards .card .upper-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.change-log-section .cards .card .lower-section {
  margin-top: 14px;
  font-size: 16px;
  color: var(--primary-text-color);
}

.change-log-section .cards .card .version {
  border: 1px solid var(--primary-text-color-transparent);
  border-radius: 35px;
  font-size: 14px;
  color: var(--primary-text-color-transparent);
  padding: 4px 10px 4px 10px;
}

.change-log-section .cards .card .date {
  color: var(--primary-text-color-transparent);
  font-size: 16px;
}

.change-log-section .link {
  margin-top: 22px;
  text-decoration: none;
  color: var(--feature-section-link-text-color);
}

/* about-section */
.about-section .title {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 400;
  color: var(--primary-text-color);
}

.about-section .cta {
  background-color: var(--white-button-bg-color);
  padding: 12px 22px;
  border-radius: 36px;
  text-decoration: none;
  color: var(--white-button-color);
  /* padding-left: 2px; */
}

.about-section .btn {
  padding-left: 2px;
}

.about-section img {
  margin-top: 56px;
  margin-bottom: 136px;
  height: 726px;
  /* width: 98%; */
  padding-left: 1px;
  border-radius: 4px;
}

/* recent-highlights */
.recent-highlight-section {
  height: 662px;
  /* width: 100wh; */
  background-color: var(--card-bg-color);
}

.recent-highlight-section .container {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  margin-left: 92px;
  margin-right: 92px;
  padding: 90px 20px;
  height: 482px;
}

.recent-highlight-section .line {
  color: var(--primary-text-color);
  position: sticky;
  top: 64px;
  grid-column: 1 / span 3;
}

.recent-highlight-section .highlights {
  display: flex;
  grid-column: 4 / span 6;
  flex-direction: column;
  height: 482px;
}

.recent-highlight-section .highlights .highlight {
  display: flex;
  background-color: var(--highlight-cards-color);
  width: 100%;
  flex: 1;
  margin-bottom: 10px;
  padding: 12px 14px 14px 14px;
  flex-direction: column;
  border-radius: 4px;
  text-decoration: none;
  justify-content: space-around;
}

.recent-highlight-section .highlights .highlight-3 {
  margin-bottom: 22px;
}

.recent-highlight-section .highlights .highlight .intro {
  font-size: 16px;
  color: var(--primary-text-color);
}
.recent-highlight-section .highlights .highlight .info {
  font-size: 16px;
  color: var(--primary-text-color-transparent);
}
.recent-highlight-section .highlights .highlight .date {
  font-size: 16px;
  color: var(--primary-text-color-transparent);
  margin-top: 22px;
}

.recent-highlight-section .highlights .link a {
  font-size: 16px;
  color: var(--feature-section-link-text-color);
  flex: 1;
  text-decoration: none;
}

/* final-cta */
.final-cta {
  display: flex;
  height: 152px;
  margin: 60px 0px;
  padding: 134px 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.final-cta .tagline h2{
  color: var(--primary-text-color);
  font-size: 72px;
  font-weight: 400;
}

.final-cta .tagline {
  margin-bottom: 30px;
}

.final-cta a {
  background-color: var(--white-button-bg-color);
  padding: 12px 22px;
  border-radius: 34px;
  color: var(--primary-color);
  text-decoration: none;
}

footer {
  height: 100%;
  padding: 68px 20px 30px 20px;
  background-color: var(--card-bg-color);
}

footer nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  margin: 0 90px 0 90px;
  margin-bottom: 100px;
}

footer nav .options-container .options {
  display: flex;
  flex-direction: column;
  gap : 14px;
  height: 236px;
}

footer nav .options-container .options p{
  color: var(--primary-text-color-transparent);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

footer nav .options-container .options a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 400;
}

footer .copyright {
  color: var(--primary-text-color-transparent);
  font-size: 14px;
  /* padding: 50px; */
  padding-left: 85px;
}